<!DOCTYPE html>
<html>

<head>
   
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />
  <title>MatchMyMood - Mood Pick</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Koulen:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Kreon:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />

</head>

<body>

  <div class="parent-div">

    <div class="frame-1-2742 pos-abs">
      <div class="image-1-2945 pos-abs">
        <img src="https://s3-alpha-sig.figma.com/img/77da/a45d/8c1f35beb48d0bb4ecad6c4244ac8e33?Expires=1737331200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CA-KToLUAoK6YU9aXUKQ2fT1BqgW5Uc3eVJXZt67URUhqToRO4JIYxPqX82CZ2oYrjApL6Lqk~KkAjepomQM93gyT7O5bnciwq9nr9p6r03MFJKKQTTWEXJxzIrvC7GCuai1Zge6jDCk1duRpnWXODaCIsV260EqZv1ttsZ1j1IYZtKgbQKksROESECXAiz0XiNBOKWhvwC6b-ppCThb24OksLS~cQGKbdEMIDZd~gUHiIDhJ5hRhDm77RfPxhUmLAxkzyKr~3fBQQ-aZLWZvebxrx~zyOrlEM6pWCuvB39SxzP6qQ4jFW4abmUk~J7Ly34~1oUkHoQdIxguR0PEMQ__"
          class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-2945" alt="2945-ALT" />
      </div>

      <div class="match-my-mood-2944 pos-abs">
        <!-- prettier-ignore -->
        <span class="match-my-mood-2944-0">Match My Mood</span>
      </div>

      <div class="rectangle-7-2979 pos-abs"></div>

      <div class="how-are-you-fee-2980 pos-abs">
        <!-- prettier-ignore -->
        <span class="how-are-you-fee-2980-0">How are you feeling?...</span>
      </div>

      <!-- Frame 21 -->
      <a href="{{ url_for('page2', mood='Unmotivated/Lazy') }}">
      <section class="frame-2-2947 pos-abs">
        <div class="unmotivated-laz-2984 pos-abs">
          <!-- prettier-ignore -->
          <span class="unmotivated-laz-2984-0">Unmotivated/<br>Lazy</span>
        </div>
    </section>
    </a>

      <!-- Frame 41 -->
      <a href="{{ url_for('page2', mood='Stressed/Overwhelmed') }}">
      <section class="frame-4-2953 pos-abs">
        <div class="stressed-overwh-2990 pos-abs">
          <!-- prettier-ignore -->
          <span class="stressed-overwh-2990-0">Stressed/<br>Overwhelmed</span>
        </div>
    </section>
    </a>

      <!-- Frame 61 -->
      <a href="{{ url_for('page2', mood='Curious/Intellectual') }}">
      <section class="frame-6-2957 pos-abs">
        <div class="curious-intelle-2994 pos-abs">
          <!-- prettier-ignore -->
          <span class="curious-intelle-2994-0">Curious/<br>Intellectual</span>
        </div>
      </section>
    </a>
      <!-- Frame 81 -->
      <a href="{{ url_for('page2', mood='Angry/Frustrated') }}">
      <section class="frame-8-2963 pos-abs">
        <div class="angry-frustrate-2998 pos-abs">
          <!-- prettier-ignore -->
          <span class="angry-frustrate-2998-0">Angry/<br>Frustrated</span>
        </div>
      </section>
    </a>
      <!-- Frame 101 -->
      <a href="{{ url_for('page2', mood='Romantic/Dreamy') }}">
      <section class="frame-10-2973 pos-abs">
        <div class="romantic-dreamy-29102 pos-abs">
          <!-- prettier-ignore -->
          <span class="romantic-dreamy-29102-0">Romantic/<br>Dreamy</span>
        </div>
      </section>
    </a>
      <!-- Frame 31 -->
      <a href="{{ url_for('page2', mood='Nostalgic/Reflective') }}">
      <section class="frame-3-2951 pos-abs">
        <div class="nostalgic-refle-2986 pos-abs">
          <!-- prettier-ignore -->
          <span class="nostalgic-refle-2986-0">Nostalgic/<br>Reflective</span>
        </div>
      </section>
    </a>
      <!-- Frame 51 -->
      <a href="{{ url_for('page2', mood='Sad/Heartbroken') }}">
      <section class="frame-5-2955 pos-abs">
        <div class="sad-heartbroken-2992 pos-abs">
          <!-- prettier-ignore -->
          <span class="sad-heartbroken-2992-0">Sad/<br>Heartbroken</span>
        </div>
      </section>
    </a>
      <!-- Frame 71 -->
      <a href="{{ url_for('page2', mood='Happy/Excited') }}">
      <section class="frame-7-2961 pos-abs">
        <div class="happyexcited-2996 pos-abs">
          <!-- prettier-ignore -->
          <span class="happyexcited-2996-0">Happy/Excited</span>
        </div>
      </section>
    </a>
      <!-- Frame 91 -->
      <a href="{{ url_for('page2', mood='Bored/Restless') }}">
      <section class="frame-9-2969 pos-abs">
        <div class="boredrestless-29100 pos-abs">
          <!-- prettier-ignore -->
          <span class="boredrestless-29100-0">Bored/Restless</span>
        </div>
      </section>
    </a>
      <!-- Frame 111 -->
      <a href="{{ url_for('page2', mood='Inspired/Creative') }}">
      <section class="frame-11-2977 pos-abs">
        <div class="inspired-creati-29104 pos-abs">
          <!-- prettier-ignore -->
          <span class="inspired-creati-29104-0">Inspired/<br>Creative</span>
        </div>
      </section>
    </a>
    </div>

  </div>

</body>

</html>
